/* You can add global styles to this file, and also import other style files */
.fundo {
    background-repeat: no-repeat;
    background-image: url(https://c.pxhere.com/photos/c1/9d/music_guitar_stage_concert_band-1397116.jpg!d); 
    background-size: cover;
    background-color: white;
    /* -webkit-filter: blur(5px);
    filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px); */
  }

body {
    margin: 0px;
}