
.title {
  color:white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

nav a {
  padding: 6px 12px;
  text-decoration: none;
  background-color: #3399ff;
  color: #ffffff;
  border-radius: 4px;
  margin: 20px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
nav a:hover {
  color: #e6e6e6;
  background-color:darkblue;
}

.links{
  text-align: center;
  font-family: Arial, Helvetica, sans-seri
}

.top-bar{
  background-color: lightskyblue;
  border-radius: 10px
}

