@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
  }
  @-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }

.login-menu {
  text-align:center;
  -webkit-animation: fadeIn 1s ease-in-out;
  -moz-animation: fadeIn 1s ease-in-out;
  -o-animation: fadeIn 1s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}


/* 
.musicians {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
 
   .musicians li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: cyan;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  } */
 
  .button1 {
    text-align: center;
    font-family: sans-serif, Times, serif;
    background-color: #191919;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    margin: 10px;
    color: #ffffff;
  }

  .button2 {
    text-align: center;
    font-family: sans-serif, Times, serif;
    background-color: #F76D56;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    margin: 10px;
    color: #ffffff;
  }
  button:hover {
    background-color: rgb(233, 84, 58);
  }

  .title {
    color: #ffffff;
    font-family: sans-serif, Helvetica, Arial;
    font-size: 40px;
  }

  .texto {
    color: #ffffff;
    font-family: sans-serif, Helvetica, Arial;
    margin-top: 10px;
  }
 