<html (mousemove)="onMove()">
    <div class = "login-menu">
        <h2 class = "title">
            MusicMix
        </h2>
        
        <div class = "usuario-e-senha">
            <div class="texto">Usuario:</div>
            <br>
            <input [(ngModel)]="musician.username" name="username">
            <div *ngIf="duplicatedusername" class="texto">
            <br>
                ja existe um musico com<br>esse nome de usuario
            <br>
            </div>
            <br>
            <div class="texto">Senha:</div>
            <br>
            <input type ="password" [(ngModel)]="musician.password" name="password">
            <div *ngIf="invalidlogin" class="texto">
                nome do usuario ou <br> senha estão errados
            <br>
            </div>
            <br>
            <br>
        </div>
        <button class = "button1" (click)="createMusician(musician)">Cadastrar</button>
        <button class = "button2" (click)="enterProfile(musician)">Entrar</button>
    </div>

</html>
