<html (mousemove)="onMove()">

  <table>
 <tr>
    <td><label>Nome </label></td>
    <td><input [(ngModel)]="musician.nome" ></td>
    <td><button (click)="createMusician(aluno)">ADD</button></td>
 </tr>
 <tr>
    <td><label>email </label></td>
    <td><input [(ngModel)]="musician.email" ></td>
    <td *ngIf="duplicatedemail">
      ja existe um musico com esse EMAIL
    </td>
 </tr>
 </table>

  <table>
 <tr *ngIf="musicians.length > 0">
    <th>Nome</th>
    <th>e-mail</th>
 </tr>
 <tr *ngFor="let a of musicians">
    <td>{{a.nome}}</td>
    <td>{{a.email}}</td>
 </tr>
 </table>

  </html>
