<html (mousemove)="onMove()">

    <div class = "login-menu">
        <h2 class = "title">
            MusicMix
        </h2>
        
        <div class = "usuario-e-senha">
            Usuario:
            <br>
            <input [(ngModel)]="musician.username" >
            <div *ngIf="duplicatedusername">
            <br>
            ja existe um musico com<br>esse nome de usuario
            <br>
            </div>
            <br>
            Senha:
            <br>
            <input [(ngModel)]="musician.password" >
            <div *ngIf="invalidlogin">
            nome do usuario ou <br> senha estao errados
            <br>
            </div>
            <br>
            <br>
        </div>
        <button class = "button1" (click)="createMusician(musician)">Cadastrar</button>
        <button class = "button2" (click)="enterProfile(musician)">Entrar</button>
    </div>

</html>
