<!-- parta em 9 colunas depois, assim, as fotos e videos nao ficam tao esticados -->
<div class = "perfil">
    <!-- <img src = "http://pixelartmaker.com/art/21c0f5af5a98aee.png" width = "100px"> -->
    <div class = "perfil-item foto block">one</div>
    <div class = "perfil-item short block">two</div>
    <div class = "perfil-item short block">three</div>
    <div class = "perfil-item long block">four</div>
    <div class = "perfil-item short block">five</div>
    <div class = "perfil-item short block">six</div>
    <div class = "perfil-item short block">seven</div>
    <div class = "perfil-item short block">eight</div>

</div>
  