<html (mousemove)="onMove()">
    <div class = "search">
        <nav>
            <br>
            <a routerLink="/profile">back to profile</a>
            <br>
        </nav>
        <table>
            <tr>
                <td>
                    <h1 class="texto">Search Events</h1>
                </td>
            </tr>
                <td>
                    <input [(ngModel)] = "tempEvent.name">
                </td>
            <tr>
                <td>
                    <button class= "button" (click) = "searchEvent(tempEvent)">Search</button>
                    <button class= "button" (click) = "listEvents()">List Events</button>
                </td>
                <td>
                </tr>
                <tr>
                        <td *ngIf = "showEvents">
                            <button class= "button" (click) = "showEvents = false">Hide</button>
                            <table *ngFor = "let e of events">
                                <tr>
                                    {{ e.name }}
                                </tr>
                                <tr>
                                    {{ e.date }}
                                </tr>
                                <tr>
                                    {{ e.bands }}
                                </tr>
                                <tr>
                                </tr>
                            </table>
                        </td>

            </tr>
            <tr>
                <td>
                    <div *ngIf = "invalidEvent" class="texto">
                        Event doesn't exist!
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <table class = "event" *ngIf= "!invalidEvent">
                        <tr>
                            {{ event.name }}
                        </tr>
                        <tr>
                            {{ event.date }}
                        </tr>
                        <tr>
                            {{ event.bands }}
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</html>