.event{
    font-size: 70px;
    text-align: left;
    font-family: sans-serif, Helvetica, Arial;
    color: #F76D56;
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
  }
  @-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  
.search{
    align-content: center;
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}

nav a {
  padding: 7px 12px;
  text-decoration: none;
  background-image: linear-gradient(45deg, #F77D68, #F76D56);
  color: #ffffff;
  border-radius: 100px;
  margin-right: 10px;
  font-size: 20px;
  font-family: sans-serif, Helvetica, Arial;
  transition: all ease-in-out 200ms;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  margin-left: 100px;
  float: left;
}
nav a:hover {
  color: #191919;
  background-color: #C23B31;
}

.texto {
  color: #ffffff;
  font-family: sans-serif, Helvetica, Arial;
}

.container {
  margin-right: 100px;
}

.button {
  text-align: center;
  font-family: sans-serif, Times, serif;
  background-color: #F76D56;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  margin-left: 5px;
  color: #ffffff;
}